@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    --light: #ffffff;
    --dark: #181813;
    --light-gray: #777777;
    --dark-gray: #2d2d2d;
    --primary: #0275d8;
    --danger: #d9534f;
    --success:#5cb85c;
    --off-white: #f7f7f7; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--off-white);
}

main {
    margin-left: 5rem;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    padding: 1rem;
}

.dash-nav {
    background-color: #f1e8e8;
}

#account-menu {
    width: 10rem;
}

#account-menu select {
    width: 70%;
    border: none;
    background-color: var(--off-white);
}

#dropdown-logo {
    height: 100%;
}

#logo {
    width: 3rem;
}

#dash-header {
    font-size: clamp(1rem, 2vw, 2rem);
}

#account-menu select:focus,
#account-menu select:focus {
    outline: none;
    border: none;

}

#account-menu select option {
    text-align: center;
}

.cs-1 {
    grid-column: span 1;
}

.cs-2 {
    grid-column: span 2;
}

.cs-3 {
    grid-column: span 3;
}

.cs-4 {
    grid-column: span 4;
}

.cs-5 {
    grid-column: span 5;
}

.cs-6 {
    grid-column: span 6;
}

.cs-7 {
    grid-column: span 7;
}

.cs-8 {
    grid-column: span 8;
}

.cs-9 {
    grid-column: span 9;
}

.cs-10 {
    grid-column: span 10;
}

.cs-11 {
    grid-column: span 11;
}

.cs-12 {
    grid-column: span 12;
}

.rs-1 {
    grid-row: span 1;
}

.rs-2 {
    grid-row: span 2;
}

.rs-3 {
    grid-row: span 3;
}

.rs-4{
    grid-row: span 4;
}

.rs-5 {
    grid-row: span 5;
}

.rs-6 {
    grid-row: span 6;
}

.rs-7 {
    grid-row: span 7;
}

.rs-8 {
    grid-row: span 8;
}

::-webkit-scrollbar {
    width: .3rem;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background: var(--primary);
}

@media only screen and (max-width: 315px) {
    main {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(7, 1fr);
       
    }
}

@media only screen and (min-width: 315px) and (max-width: 550px) {}

@media only screen and (min-width:550px) and (max-width: 800px) {}

@media only screen and (min-width: 800px) {}

