@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    --light: #ffffff;
    --dark: #181813;
    --light-gray: #777777;
    --dark-gray: #2d2d2d;
    --primary: #0275d8;
    --danger: #d9534f;
    --success:#5cb85c;
    --off-white: #f7f7f7; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--off-white);
}

.container-center {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 1.4rem;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.4);
    border-radius: .7rem;
    width: 20rem;
    background-color: var(--white);
}

.form-container img {
    width: 6.5rem;
    height: 6.5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group {
  position: relative;
  margin: 5px 0 20px;
  background-color: inherit;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: inherit;
}

input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 1.15rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.toggle {
  color: #999;
  font-size: .8rem;
  font-weight: normal;
  position: absolute;
  right: 5px;
  top: 20px;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #4285f4;
}

.bar {
  position: relative;
  display:block;
  width:315px;
}

.bar:before,
.bar:after {
  content: '';
  height: 3px;
  width: 0;
  bottom: -1px;
  position: absolute;
  background: #4285f4;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after,
input:valid ~ .bar:before,
input:valid ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* animations */
@-webkit-keyframes inputHighlighter {
  from { background: #4285f4; }
  to   { width: 0; background: transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background: #4285f4; }
  to   { width: 0; background: transparent; }
}
@keyframes inputHighlighter {
  from { background: #4285f4; }
  to   { width: 0; background: transparent; }
}

.login-form button {
    background-image: linear-gradient(to left, #0275d8, #3aa5fc, #0275d8 );
    background-size: 200%;
    border: none;
    color: var(--light);
    padding: .6rem 0;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 4rem;
    transition: 0.6s;
}

.login-form button:hover {
  background-position: right;
}

.link {
    text-decoration: none;
}

.error {
    color: var(--danger);
}

.center-x {
    margin: 0 auto;
}

.gap-tb {
    margin-top: .6rem;
    margin-bottom: .6rem;
}